
/* .tags {
  position: relative;
  padding: 2px;
  border: 2px solid var(--rui-outline);
  background: var(--rui-interactive);
} */

.tagInput {
  width: 200px;
  border-radius: 2px;
  display: inline-block;

  input {
    display: inline-block;
    background: transparent;
    color: var(--rui-neutral);
    font-size: var(--rui-text-base);
    padding: 4px 10px;

    &:focus {
      outline: none;
    }
  }
}

.selected {
  border-color: red;
}

.tag {
  background: var(--rui-surface);
  font-size: 1rem;
  display: inline-block;
  padding: 2px 8px;
  margin: 2px;

  cursor: move;
  border-radius: 3px;
}

.remove {
  color: #aaa;
  margin-left: var(--rui-spacing-xxs);
  cursor: pointer;
}

.suggestions {
  position: absolute;

  ul {
    color: var(--rui-neutral);
    font-size: var(--rui-text-sm);
    list-style-type: none;
    background: var(--rui-interactive);
    width: 200px;

    &:focus {
      background: red;
    }
  }

  li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
  }

  mark {
    color: var(--rui-neutral);
    text-decoration: underline;
    background: none;
    font-weight: 600;
  }
}

.activeSuggestion {
  background: var(--rui-interactive-hover);
  cursor: pointer;
}

.editTagInput {
  border: 1px solid var(--rui-focus);
  display: inline-block;
  width: 200px;
}

.editTagInputField {
  width: 100%;
  background: transparent;
  color: var(--rui-neutral);
  font-size: var(--rui-text-base);
  padding: 2px 8px;

  &:focus {
    outline: none;
  }
}
