
/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@import "~@osuresearch/ui/dist";

/* App will use a custom drag selector */
* { user-select: none; }

/** This is an interpolation hack to fix images that are rendering
  pixelated when object-fit : cover is used.
  See: https://stackoverflow.com/a/75120770
*/
.use-translate3d-hack img {
  transform: translate3d(0, 0, 1px) !important;
}

body {
  position: relative;
  color: white;
  height: 100vh;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--rui-surface);
}

*::-webkit-scrollbar-track {
  background-color: var(--rui-surface);
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: var(--rui-surface);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--rui-surface-subtle);
}
